<html>
    <head>
        <title>Send text using UART</title>
        <style>
        .flashes {
            color:red;
            list-style:none;
        }
        .content {
            width:500px;
            margin:0 auto;
            padding-top:10%;
            text-align:center;
        }
        input,textarea {
            width:200px;
        }
        </style>
    </head>
    <body>
        <div class='content'>
            <h1>Send text to a UART</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

        <form method='POST' action='/send'>
            <textarea name='data'>
            </textarea>
            <br />
            <input type='submit' value='Send'>
        </form>
        </div>
    </body>
</html>
